a:hover {
    cursor: pointer;
}

.panel {
    max-width:500px;
}

.bg {
    background: #1b66ac;
    background: radial-gradient(circle, #9b66da 0%, #8564d8 28%, #7123e7 65%, #1b66ac 100%);
    /* background: radial-gradient(circle, #9b66da 0%, #714ad0 28%, #6500ff 65%, #73e4fb 100%); */
}
