<section class="d-flex flex-column h-100">
    <section class="px-2 pt-2">
        <div class="position-relative">
            <input #searchInput
                type="text" placeholder="Username"
                class="search-bar icon-container-right form-control">
            <span class="material-icons icon-right">search</span>
        </div>
        <button type="button" (click)="sendFriendRequestTo()"
            class="btn btn-success me-1 my-3 d-flex align-items-center gap-2 ms-auto">
            <span class="material-icons">
                person_add
            </span>
            Send Friend Request
        </button>
    </section>
    
    <section class="overflow-auto thin-scrollbar gutter-stable">
        <div *ngIf="pendingRequests.length > 0">
            <h3 class="text-white-50 text-center mt-2">Pending Requests</h3>
    
            <ul class="contact-list">
    
                <li *ngFor="let pendingRequest of pendingRequests">
                    <div class="contact-img placeholder-img"></div>
                    <div class="contact">
                        <div class="name-container">
                            <span class="name">{{ pendingRequest.user.username }}</span>
                        </div>
                    </div>
                    <span (click)="cancelPendingRequest(pendingRequest)"
                        class="material-icons btn-reject">cancel</span>
                </li>
    
            </ul>
        </div>
    
        <div *ngIf="friendRequests.length > 0">
            <h3 class="text-white-50 text-center mt-2">My Friend Requests</h3>
    
            <ul class="contact-list">
    
                <li *ngFor="let friendRequest of friendRequests">
                    <div class="contact-img placeholder-img"></div>
                    <div class="contact">
                        <div class="name-container">
                            <span class="name">{{ friendRequest.user.username }}</span>
                        </div>
                    </div>
                    <span (click)="acceptFriendRequest(friendRequest)"
                        class="material-icons btn-accept">check_circle</span>
                    <span (click)="rejectFriendRequest(friendRequest)"
                        class="material-icons btn-reject">cancel</span>
                </li>
                
            </ul>
        </div>
    </section>
</section>