<!-- <h1>Welcome <strong>{{ username }}</strong></h1>

<button (click)="logout()" class="btn btn-primary m-3">
    Logout
</button>

<hr> -->

<section class="overflow-hidden">
    <app-side-panel [class.menu-collapsed]="!isSidePanelOpen"
        class="menu vh-100"
        ></app-side-panel>
    
    <app-main-panel [class.chat-panel-expanded]="isSidePanelOpen"
        class="chat-panel vh-100"
        ></app-main-panel>
</section>

<div class="temp-f">
    <button class="btn btn-primary" (click)="openMenu()">Open</button>
    <button class="btn btn-danger" (click)="closeMenu()">Close</button>
</div>