<ul class="contact-list h-100 overflow-auto thin-scrollbar gutter-stable">

    <li *ngFor="let friend of friends | keyvalue"
        (click)="setActiveChat(friend.key)">
        <div class="contact-img placeholder-img"></div>
        <div class="contact">
            <div class="name-container">
                <span class="name">{{ friend.value.user.username }}</span>
            </div>
        </div>
        <!-- <span (click)="openDeleteFriendConfirmation(friend.value)"
            class="material-icons btn-menu">more_vert</span> -->
        <div class="btn-menu" (click)="showFloatingMenu($event, friend.value)">
            <span class="material-icons">more_vert</span>
        </div>
    </li>

</ul>

<app-floating-element #floatingMenu (click)="floatingMenu.hide()">
    <ul class="floating-menu">
        <li (click)="openDeleteFriendConfirmation()">
            <span class="material-icons">person_remove</span>
            <span class="text-danger">Remove Friend</span>
        </li>
    </ul>
</app-floating-element>