<ul class="contact-list h-100 overflow-auto thin-scrollbar gutter-stable">

    <li *ngFor="let friend of friends">
        <div class="contact-img placeholder-img"></div>
        <div class="contact">
            <div class="name-container">
                <span class="name">{{ friend.user.username }}</span>
            </div>
        </div>
        <span (click)="openDeleteFriendConfirmation(friend)"
            class="material-icons btn-menu">more_vert</span>
    </li>

    <!-- <li>
        <div class="contact-img placeholder-img"></div>
        <div class="contact">
            <div class="name-container">
                <span class="name">Alice</span>
            </div>
        </div>
        <span class="material-icons btn-menu">more_vert</span>
    </li>

    <li>
        <div class="contact-img placeholder-img"></div>
        <div class="contact">
            <div class="name-container">
                <span class="name">Alice</span>
            </div>
        </div>
        <span class="material-icons btn-menu">more_vert</span>
    </li> -->

</ul>