<form [formGroup]="form" (ngSubmit)="login()">

    <h2 class="text-center">Log in to your account</h2>
    <hr class="mb-4">

    <!-- Username -->
    <section class="mb-1">
        <label for="username" class="form-label">Username</label>
        <div class="position-relative">
            <input formControlName="username" autofocus
                id="username" type="text" class="form-control icon-container-left" 
                placeholder="CoolName">
            <span class="material-icons icon-left">person</span>
        </div>

        <span [class.hidden]="!isFieldValid('username')"
            class="form-text text-danger">
            The username must be 3 or more letters, numbers or _
        </span>
    </section>

    <!-- Password -->
    <section class="mb-3">
        <label for="password" class="form-label">Password</label>
        <div class="position-relative">
            <input formControlName="password" #pass
                id="password" type="password" placeholder="Password"
                class="form-control icon-container-left icon-container-right">
            <span class="material-icons icon-left">lock</span>
            <span class="material-icons icon-right cursor-pointer"
                (click)="togglePasswordVisibility(pass)">
                {{ pass.type === "password" ? "visibility" : "visibility_off" }}
            </span>
        </div>

        <span [class.hidden]="!isFieldValid('password')"
            class="form-text text-danger">
            The username must be 6 to 12 characters
        </span>
    </section>

    <section class="mb-4">
        <button type="submit" class="btn btn-primary w-100 fw-semibold" [disabled]="busy">
            <span *ngIf="!busy; else spinner">Log In</span>
            <ng-template #spinner>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </ng-template>
        </button>
    </section>

    <section class="text-center">
        <span>Don't have an account?</span> <br>
        <a routerLink="/auth/register"
            class="link-primary">
            Sign up
        </a>
    </section>

</form>