<ul class="contact-list h-100 overflow-auto thin-scrollbar gutter-stable">

    <li *ngFor="let message of messagesMap | keyvalue"
        [class.contact-active]="activeChatUser === message.key"
        (click)="setActiveChat(message.key)">
        <div class="contact-img placeholder-img"></div>
        <div class="contact">
            <div class="name-container">
                <span class="name">{{ getUserData(message.key).username }}</span>
                <span class="date">{{ getLastMessage(message.value).sentAt | dateSmall }}</span>
            </div>
            <p *ngIf="!isFriendTyping(message.key); else typingLabel">{{ getLastMessage(message.value).content }}</p>
            <ng-template #typingLabel>
                <p class="typing-label">Typing...</p>
            </ng-template>
        </div>
        <span class="material-icons btn-menu">more_vert</span>

        <span *ngIf="getUnreadMessages(message.key)"
            class="badge rounded-pill bg-danger">
            {{ getUnreadMessages(message.key) > 99 ? "99+" : getUnreadMessages(message.key) }}
            <span class="visually-hidden">unread messages</span>
        </span>
    </li>

</ul>