.cursor-pointer {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

.icon-left,
.icon-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.icon-left {
    left: 0.4rem;
}

.icon-right {
    right: 0.4rem;
}

.icon-container-left {
    padding-left: 2rem;
}

.icon-container-right {
    padding-right: 2rem;
}

/* Desktop - Mobile */
/** (This breakpoint are used in the chat/pages/main component too) */
/* TODO: Move the chat/pages/main media queries here */
@media (max-width: 575px) {
    .hidden-on-mobile {
        display: none;
    }
}

@media (min-width: 576px) {
    .hidden-on-desktop {
        display: none;
    }
}

/* Thin Scrollbar */
.thin-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.thin-scrollbar::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: white;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a8bbbf;
    border-radius: 5px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #6c7477;
    cursor: pointer;
}