/* Header */
.header {
    align-items: baseline;
    background-color: #252525;
    color: white;
}

.header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header-user {
    padding: 5px 10px;
}

.header-user span {
    font-weight: bold;
    font-size: 1.4rem;
}

.header-user small {
    margin-left: 8px;
    font-size: 0.8rem;
}

.ul-btn {
    padding: 8px 10px;
    cursor: pointer;
    user-select: none;
}

.ul-btn:hover {
    background-color: #535353;
}

/* Custom auto resizable text area */
.auto-resizable-input-wrapper {
    width: 100%;
    border-radius: 1.2rem;
    padding: 6px 2rem 6px 1rem;
    background-color: white;
    overflow: hidden;
    height: auto;
    outline: 1px solid #b1b1b1;
}

.auto-resizable-input {
    overflow-y: auto;
    height: auto;
    outline: none;
}

.auto-resizable-input:empty:not(:focus)::before {
    content: attr(data-placeholder);
    pointer-events: none;
    color: gray;
}

.emoji-button {
    position: absolute;
    right: 0.4rem;
    bottom: 0.4rem;
    cursor: pointer;
    user-select: none;
}

/* Send Button */
.btn-circle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    font-size: 0.5rem;
    align-items: center;
    justify-content: center;
}

/* Message Bubbles */
.messages {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
}

.messages p {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.msg-sent,
.msg-received {
    padding: 5px 15px;
    width: auto;
    min-width: 5ch;
    max-width: 80%;
}

.msg-sent {
    align-self: flex-end;
    background-color: #248bf5; /* #42a5f5; */
    border-radius: 1.5rem 5px 5px 1.5rem;
    color: white;
}

.msg-received {
    align-self: flex-start;
    background-color: #e5e5ea; /* #f1f1f1; */
    border-radius: 5px 1.5rem 1.5rem 5px;
    color: black;
}

.msg-sent:first-child,
.msg-received + .msg-sent {
    border-start-end-radius: 1.5rem;
}

.msg-received:first-child,
.msg-sent + .msg-received {
    border-start-start-radius: 1.5rem;
}

.msg-last {
    border-end-end-radius: 1.5rem;
    border-end-start-radius: 1.5rem;
}

/* Floating scroll button */
.scroll-btn {
    align-items: center;
    bottom: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 2px;
    position: absolute;
    right: 15px;
}