<section class="d-flex flex-column h-100 bg-white">

    <!-- Header -->
    <section class="header">
        <ul>
            <li (click)="openSidePanel()"
                class="ul-btn hidden-on-desktop">
                <span class="material-icons">arrow_back</span>
            </li>
            <li (click)="toggleSidePanelVisibility()"
                class="ul-btn hidden-on-mobile">
                <span class="material-icons">
                    {{ isSidePanelOpen ? 'arrow_back' : 'arrow_forward' }}
                </span>
            </li>

            <li class="header-user">
                <span>Alice</span>
                <small>Typing...</small>
            </li>
        </ul>
    </section>

    <!-- Chat -->
    <section class="messages px-2 mt-2 thin-scrollbar">

        <section *ngFor="let msg of messages; let i = index;"
            [ngClass]="msg.from === username ? 'msg-sent' : 'msg-received'"
            [class.msg-last]="isLastMessageOfGroup(i)">
            <p>{{ msg.content }}</p>
        </section>

    </section>

    <!-- Emoji Picker -->
    <section [hidden]="!emojiPickerVisible" class="position-relative">
        <emoji-mart set="twitter" 
            [showPreview]="false" 
            [enableFrequentEmojiSort]="true"
            (emojiClick)="emojiClick($event)"
            [perLine]="9"
            [style]="{ position: 'absolute', bottom: '0' }">
        </emoji-mart>
    </section>

    <!-- User Input -->
    <section class="d-flex align-items-end gap-2 px-2 my-2">
        <!--+ Custom resizable text area (wrapped to hide scrollbar) -->
        <div class="auto-resizable-input-wrapper position-relative">
            <div #input class="bg-white auto-resizable-input thin-scrollbar"
                contenteditable="true" data-placeholder="Say something...">
            </div>

            <span (click)="toogleEmojiPickerVisibility()"
                class="material-icons text-muted emoji-button">
                emoji_emotions
            </span>
        </div>

        <button (click)="send()" type="button"
            class="btn btn-primary d-flex btn-circle">
            <span class="material-icons">send</span>
        </button>
        
    </section>

</section>